<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - User Information</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
        .status-active {
            color: green;
            font-weight: bold;
        }
        .status-inactive {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Admin Dashboard - User List</h1>

        <div class="text-right mb-3">
            <a href="/admin/" class="btn btn-success">Go Back</a>
            <a href="/admin/logout" class="btn btn-secondary mx-2">logout</a>
        </div>
        
        <table class="table table-striped table-bordered" id ="usersTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Orders</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.username}}</td>
                    <td>{{this.firstName}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.phone}}</td>
                    <td>
                        {{#if this.activestatus}}
                            <span class="status-active">Active</span>
                        {{else}}
                            <span class="status-inactive">Inactive</span>
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.orders.length}}
                            <ul>
                                {{#each this.orders}}
                                    <li>Order ID: {{this._id}}</li>
                                {{/each}}
                            </ul>
                        {{else}}
                            No Orders
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.activestatus}}
                            <a href="/admin/deactivate/{{this._id}}" class="btn btn-sm btn-warning">Deactivate</a>
                        {{else}}
                            <a href="/admin/activate/{{this._id}}" class="btn btn-sm btn-success">Activate</a>
                        {{/if}}
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="9" class="text-center">No users available.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
<script>
    $('#usersTable').DataTable();
</script>
</html>
